//- Use the presentation layout so we can keep this clean
extends layouts/presentation

//- Customize the title, meta description, and author using this block.
block title
  title 'Bout Me


//- Add your slides here. See templates/includes/_mixins.jade for information 
//- on how `+slide` works.
block slides
  +slide
    h1 'Bout Me
    p
      small Artyom Desyatnikov
      
  +slide
    h2 Points
    ul
      li Education
      li Research
      li Job experience
    
  +slide
    +slide
      h2 Education
      h5 Primary school
      aside.notes
        | Entered the primary school when I was 5. Not much do I remember about that period of my life except for the
        | general feeling of doing some great deeds there confirmed and amplified by my teachers' being pleased with my efforts.
    +slide
      h2 Education
      h5 Music school
      aside.notes
        | I've been attending a musical school for 10 years since I was 3.
        | Much more to recall about it. The music was my first and the most vivid experience
        | of doing something beautiful and quite different to what the others do. Despite the fear of appearing
        | boastful to you, I would like to add that I achieved pretty much in playing the piano. I've been to
        | competitions and took 1st place. Still don't feel like parting ways with music.
    +slide
      h2 Education
      h5 Secondary school
      aside.notes
        | Went on to secondary school under the same organisation. Aptitudes to the fields of study became clear.
        | Inclined towards maths informatics and English. My classmates proved to make a great company. Leaving them behind made me nervous.    
    +slide
      h2 Education
      h5 University
      p.fragment Praising the people
      aside.notes
        | Having embraced my anxiety and having passed my qualification tests I applied to the maths-mechanics department of UrFU to advance my
        | knowledge of computer science I had been fond of. Fears were in vain. I was delighted
        | to find myself in a group where I felt myself at the right place.
        | Our groups were shuffled
        | a couple of times, once due to running low on students after quite a few of them having abandoned the university,
        | and the second time after having us graduated when we applied for a higher degree.
        | And despite all these reformations I tended to be surrounded by sensible nonchalant people with a proper sence of humour
        | helpful and friendly. To say nothing about the teachers and lecturers. I'm the kind of person.
        | These being my impressions, I'm now studying for my Master's Degree in computer science which I am to obtain the next year.
        | I'm not being hasty though, planning to take my time and enjoy the company of my mates here as well as the whole
        | department population.
        | Speaking of my obtaining the Master's it's about time to mention my research work.

  +slide
    +slide
      h2 Research
      h5 Rhythm recognition
      ul
        li Intersection of music and computer sciences
        li Previously - analog music mostly
        li MIDI - easier and more accurate
      aside.notes
        | Having noted my close relations to both music and CS it should be of little surprise to you
        | that my current research work is devoted to musical rhythm recognition. 
        | I felt the need of such a method when I discovered that sometimes I wish I could fix the slight
        | tempo issues in the music I've just played and found no available tools to do it.
        | Previous studies in this area were rather incomplete and usually confined to only the aspect of
        | raw analog sound recognition while my research is aimed at the analysis of more refined data - the MIDI
        | stream. The advantage of this format is the opportunity to employ more discrete analysis methods on the data
        | given the information about each note timings is known precisely. That is expected to make the whole recognition
        | more accurate.
    +slide
      h2 Research
      h5 Chair
      aside.notes
        | I'm doing this research at the chair of Informatics And Control Processes. The chair being mainly
        | concerned with classification problems as well as some utilitary programming, the aforementioned problem
        | suits its field of interest very well.  
        | Now to by more down-to-earth programming experience.

  +slide
    +slide
      h2 Job experience
      h5 Accounting PHP site
      p.fragment Kind guys
      aside.notes
        | I was in my first year at university when I felt the urge to go and use my most
        | profound programming knowledge in the name of the prosperity of the world. Luckily I was offered
        | a little job by my former classmate to implement a simple accounting site for their company.
        | Now I can't believe how lucky I was to have started off with this exact company. They turned out
        | to be quite a forgiving employer, quite indecisive though, but eager to pay for all my inconvinience
        | more than I deemed appropriate.
    +slide
      h2 Job experience
      h5 QR tracking front-end
      p Hard to coordinate remotely
      aside.notes
        | After the task had been finished I resumed studying until once again I met a friend of a friend of mine
        | who needed a specific site for his startup. I didn't hesitate to accept his offer and joined his team
        | for a couple of months during which I was responsible mostly for the front-end part of the site development.
        | I also spent quite a while coordinating with other members of the team since we were to work remotely,
        | giving some advices and fixing interactions between the parts of the system.
    +slide
      h2 Job experience
      h5 Kontur
      p Internship and then permission to apply
      p I'm full stack now
      p Happy but still looking
      aside.notes
        | After having a year off my programming duties, I proceeded to apply for the internship after which
        | I was given the permission to apply for a job there when I'll have more time to devote to them.
        | It happened to be when I was in my 4th year at university. I easily passed the interview and proceeded
        | to my duties which I've been performing till nowadays. I work as a full-stack web developer in a team
        | maintaining a site enabling economists to send their tax reports. I am happy to do it as for now but slowly
        | beginning to look for other areas interesting to me.
  +slide
    h1 THE END
